*{
	margin: 0;
	padding: 0;
	font-family: 'poppins';
}

/* Main Stuff CSS */
#navBar{
    width:100vw;
    height:30px;
    background:darkseagreen;
    display: flex;
    align-items: center;
    justify-content: right;
}

#navBar a{
	margin: 6px;
	color: darkblue;
	font-weight: bold;
	text-decoration: none;
}

#content{
	height: calc(100vh - 30px) !important;
	width: 100vw;
	background: floralwhite;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#content h1{
	margin-top: 5px;
	color: darkblue;
	font-weight: bold;
}

/* WordFinder CSS */
#wordFinder{
	margin-top: 20px;
	background: darkseagreen;
	border-radius: 10px;
	padding: 10px;

}

#wordFinder div{
	display: flex;
	justify-content: center;
}

#wordFinder input{
	color: darkblue;
	font-weight: bold;

	width:20px;
	height: 20px;

	border-radius: 20px;
	border: 0;

	margin: 2px;
}

#wordFinder #wordDisplay{
	width: 190px;
	text-align: center;
}

#MetaWordFindeer{
	display: flex;
	justify-content: center;
	align-items: center;
}

#coinFlipper{
	background: darkseagreen;
	padding: 10px;
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	align-items: center;

	margin-top: 20px;
}

.coinDis{
	border: 0;
	border-radius: 6px;

	margin: 2px;
	width: 120px;
	text-align: center;
	color:darkblue;
	font-weight: bold;
}

#explain{
	margin: 5px;
	margin-top: 20px;
	text-align: center;
	width: 200px;
	font-size: 13px;
	font-weight: bold;
}
